
    <footer>
    
    
        <div class="container-fluid">
<div class="row">
         <div class=" col-lg-4 col-md-4  col-sm-12 ">

<h3>Care<span>Medico</span></h3>
<center><img src="logo1.png" height="100" width="150"></center>
                         </div>

<div class="col-lg-4 col-md-4 col-sm-12 ">
<div>
  <i class="fa fa-map-marker"></i>
  <p><span>India</p>
</div>

<div>
  <i class="fa fa-phone"></i>
  <p>+91 9932024247</p>
</div>

<div>
  <i class="fa fa-envelope"></i>
  <p><a href="mailto:support@company.com">support@caremedico.com</a></p>
</div>

  </div>

<div class="col-lg-4 col-md-4 col-sm-12 ">
<p class="footer-links">
  <a href="index.html">Home</a>
  </br>

  <a href="#">Blog</a>
  </br>

  <a href="#">Pricing</a>
  </br>

  <a href="index.html#content-3-10">About</a>
  </br>

  <a href="#">Faq</a>
  </br>

  <a href="index.html#contact">Contact</a>
  </br>
</p>




<div class="footer-icons">

  <a href="https://www.facebook.com/CareMedicoind/"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/CareMedico"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/company/caremedico/"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-google"></i></a>

</div>
  </div>
</div>
</div>
         </footer>

</body>
</html>